/* COLORS */
$accent-clr: #ff8577;
$gray: #6a6a6a;
$dark-gray: #525252;

/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap");
$accent-font: "Poppins", sans-serif;
// Weights
$light: 200;
$normal: 400;
$semi-bold: 600;
$bold: 700;
